@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #111827;
  margin: 0;
  font-family: sans-serif;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
#root::-webkit-scrollbar {
  display: none;
}

html,
body,
#root {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
